h1 {
    position: absolute;
    bottom: 13rem;
    left: 3.5rem;
    font-size: 3rem;
    color: #ffffff;
    z-index: 1;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 7rem;
        bottom:-1rem;
        left: 4.5rem;
    }
}

h2,
p {
    color: black;
}