/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make sure the body fills the viewport height */
    color: black;
}

main {
    flex: 1;
}

h1,
h2,

p {

}


/* Elements
--------------------------------------------- */
.site-nav {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #0e67ba;
}

.site-nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1em;
    /* padding-right: 1em; */
    list-style-type: none;
}

@media (min-width: 768px) {
    .site-nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 2em;
    }
}

form {
    max-width: 600px;
    margin: 2rem auto; /* Centers the form */
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#scottishHills {
    
}

table {
	
}

/* Links
--------------------------------------------- */
.site-nav a {
    color: #0863bb;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.explore-instructions {
    text-align: center;
}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* Footer
--------------------------------------------- */

.site-footer {
    position: relative;
    font-size: 0.875rem;
    margin-top: 2rem;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}