body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: black;
}

main {
    flex: 1;
}

.site-nav {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #0e67ba;
}

.site-nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1em;
    list-style-type: none;
}

@media (min-width: 768px) {
    .site-nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 2em;
    }
}

form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.site-nav a {
    color: #0863bb;
    text-decoration: none;
}

.explore-instructions {
    text-align: center;
}

.site-footer {
    position: relative;
    font-size: 0.875rem;
    margin-top: 2rem;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

#nav-logo {
    height: 30px;
    width: 50px;
    position: absolute;
    left: 1rem;
    top: .5rem
}

@media (max-width: 768px) {
    .site-nav li:first-child {
        display: none;
    }
    .site-nav ul {
        display: flex;
        justify-content: space-around;
        margin-left: 4rem;
    }
}